#игнорировать исполняемый
1
*~
*.[oa]

#не игнорировать 1 файл txt
!не игнорировать.txt

#игнорировать с вложенными на всех уровнях
Игнорировать вложенные/

#игнорировать вложенные только на первом уровне
/Игнорировать вложенные на первом уровне

